QLabel{
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 7px;
    color: white;
    background-color: rgba(241, 247, 237, .5);
    text-decoration: none;
}

QRadioButton{
    color: white;
    font-style: bold ;
}

QRadioButton::indicator::unchecked {
    background-color: white;
}

QRadioButton::indicator:unchecked:hover {
    background-color: #d0f7b5;
}

QRadioButton::indicator:unchecked:pressed {
    background-color: #63993d;
}

QRadioButton::indicator::checked {
    background-color: #88f739;
}

QRadioButton::indicator:checked:hover {
    background-color: #74f518;
}

QRadioButton::indicator:checked:pressed {
    background-color: #63993d;
}

QPushButton{
    background-color: #8dfccc;
    border-style: outset;
    border-width: 2px;
    border-radius: 6px;
    border-color: #1f3331;
    font-style: bold ;
}

QPushButton:hover{
    background-color: rgb(0, 223, 0);
    border-style: inset;
    border-radius: 7px;
}

QPushButton:pressed
{
    background-color: #0b6b41;
    border-style: inset;
}
